.select-container {
    display: flex;
    justify-content: flex-end;
    

    &__select {
        width: 200px;
        border: 1px solid #cdcdcd;
        background: white;
        color: rgba(0, 0, 0, 0.8);
        font-size: 14px;
        font-weight: 600;
        border-radius: 5px;
        box-shadow: none;
        padding: 10px;
        height: 40px;
    }

}