@import '../../../styles/mixins/responsive.scss';

.search-wrapper {
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    align-items: center;
    margin-top: 30px;

    

    &__input {
        width: 100%;
        margin: 0;
        border: 1px solid #cdcdcd;
        background: white;
        color: rgba(0, 0, 0, 0.8);
        font-size: 0.8rem;
        font-weight: 600;
        border-radius: 5px;
        box-shadow: none;
        padding: 10px;
        height: 40px;

        @include respond(largeDesktop){
            font-size: 1rem;
        }
    }

    &__submit-btn {
        max-width: 200px;
        width: 100%;
        margin: 0;
        background: #589167 ;
        border: 1px solid #589167 ;
        color: #fff ;
        height: 40px;
        font-weight: 800;
    }

}